html {
    box-sizing: border-box;
    font-size: 62.5%;
}

*,
*:before,
*:after {
    box-sizing: inherit;
}

body {
    font-family: 'Raleway', sans-serif;
    font-size: 1.6rem;
    line-height: 2;
}

img {
    max-width: 100%;
}

h1 {
    font-size: 4rem;
}

h2 {
    font-size: 3.2rem;
}

p {
    font-size: 2rem;
}

.contenedor {
    max-width: 1200px;
    width: 95%;
    margin: 0 auto;
}

.entrada-blog a {
    display: inline-block;
    background-color: #2196F3;
    color: white;
    padding: 10px 20px;
    text-decoration: none;
    font-weight: bold;
    text-transform: uppercase;
}

/** CODIGO AQUI **/
.navegacion {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 5rem;
}

.navegacion a {
    margin: 0.5rem;
    text-decoration: none;
    font-weight: bold;
    padding: 1rem;
    background-color: cornflowerblue;
    border-radius: 1rem;
    -webkit-border-radius: 1rem;
    -moz-border-radius: 1rem;
    -ms-border-radius: 1rem;
    -o-border-radius: 1rem;
    color: azure;
}

.navegacion a:hover {
    background-color: rgba(100, 149, 237, 0.7);
    color: black;
    font-size: 2.2rem;
}

@media (min-width: 768px){
    .contenedor-flex {
        display: flex;
        justify-content: space-between;
    }

    .contenedor-principal {
        flex-basis: calc(60% - 1rem);
    }

    .sidebar {
        flex-basis: calc(20% - 1rem);
    }

    .sidebar-1 {
        order: -1;
    }
}